.bg-primary{
    background-color: #255 !important;
}

.img {
    max-width: 50%;
}

.progress{
    background-color: rgba(255, 255, 255, 0.2);
    border-radius: 20px;
}

.text-primary{
    color: rgba(49, 124, 124, 0.685) !important;
}